<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>

<body style="background-color:whitesmoke">
<h1 style="background-color:darkcyan;text-align:center;margin:auto;color:#8df8bb;font-family: sans-serif;padding:20px">Malumotlar bazasida bor malu'motlar</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Exists</th>
        </tr>
    </thead>

    <tbody>
        {% for person in persons %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ person.first_name }}</td>
            <td>{{person.last_name}}</td>
            <td>{{person.company}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.exist}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


<a href="/" class="button">main</a>
</body>
</html>